@model TK_Project.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
    var banner1 = ViewBag.Banner1 ?? "/assets/images/backgrounds/background.jpg";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="manifest" href="~/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>SI Dital- Register</title>
    <link href="~/assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/admin/css/style.css" rel="stylesheet">
    <link href="~/assets/admin/css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="~/assets/admin/css/admin.css" id="theme" rel="stylesheet">
    <link href="~/assets/admin/css/custom.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/unify-components.css">
    <link rel="stylesheet" href="~/assets/css/unify-globals.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url(@banner1);">
        <div class="login-box card">
            <div style="margin-bottom: 50px;" class="login-logo text-center db">
                <img class="g-width-235" src="~/assets/images/logo/si-dital-text.png" alt="Home" />
            </div>
            <div class="d-none d-sm-block d-md-none">
                <div class="h1" style="margin-bottom: 2rem"></div>
            </div>
            <div class="card-body">
                <p class="g-color-gray-dark-v5">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-material", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group">

                            <div class="col-xs-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Alamat Email", required = "required", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Kata Sandi", required = "required" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Konfirmasi Kata Sandi", required = "required" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button id="register" type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">RESET</button>
                            </div>
                        </div>

                        <div class="form-group m-b-0">
                            <div style="margin-bottom: 10.1rem;" class="col-sm-12 text-right">
                                <a href="@Url.Action("Login", "Account")" class="text-primary m-l-5"><b>Kembali</b></a>
                            </div>
                        </div>
                        <div class="d-none d-sm-block d-md-none">
                            <div class="h1" style="margin-bottom: 11.5rem"></div>
                        </div>
                    }
                </p>
            </div>
        </div>
    </section>


    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/admin/js/jquery.slimscroll.js"></script>
    <script src="~/assets/admin/js/waves.js"></script>
    <script src="~/assets/admin/js/sidebarmenu.js"></script>
    <script src="~/assets/vendor/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/admin/js/custom.min.js"></script>
</body>
</html>
