<ul id="sidebarnav">
    <li class="nav-small-cap">Menu Anda</li>
    <li>
        <a href="@Url.Action("Dashboard", "Administrator")"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a>
    </li>
    <li>
        <a href="@Url.Action("MyStudents", "Administrator")"><i class="mdi mdi-account-check"></i><span class="hide-menu">Daftar Siswa</span></a>
    </li>
    <li>
        <a href="@Url.Action("WaitingApprovment", "Administrator")"><i class="mdi mdi-account-multiple-plus"></i><span class="hide-menu">Pendaftaran Siswa</span></a>
    </li>
    <li>
        <a href="@Url.Action("RejectedStudents", "Administrator")"><i class="mdi mdi-account-multiple-plus"></i><span class="hide-menu">Pendaftaran Siswa</span></a>
    </li>
    @*<li>
            <a href="@Url.Action("Report", "Administrator")"><i class="mdi mdi-clipboard-text"></i><span class="hide-menu">Laporan</span></a>
        </li>*@
    <li class="mb-10"></li>
    <li class="mb-10"></li>

    <li class="mb-10"></li>
</ul>



